<!-- This page will show the company's description, average rating and reviews
- Company name
- Description
- Average rating (average compiled from all user reviews)
- All reviews for that company, showing their title, content and rating -->

<div class="container">
    <div class="row">
        <h1>{{company.name}}</h1>
    </div>
    <div class="row justify-content-around">
        <div class="col-4">
            <p><!--Replacing average rating from model (deleted) w/ const from company get route--></p>
        </div>
        <div class="col-8">
            <p>{{company.description}}</p>
        </div>
    </div>
    <div class="row">
        {{#if reviews.length}}
        <div class="col">
            {{#each reviews as |review|}}
            <div class="card-body">
            <p>For each review, print the review card that shows the title, rating and content of the review</p>
            </div>
            {{/each}}
        </div>
        {{else}}
        <p>There are no reviews for {{company.name}} yet. Would you like to write a review?</p>
        <a href="#">Write a review</a>
        {{/if}}
    </div>
</div>