<!-- The homepage will be a static page with a description of our site's purpose
- Mission Statement
- Encourage users to search for a company in the search bar
<<<<<<< HEAD
- Links to log-in and sign-up pages
<<<<<<< Updated upstream

- Within nav-bar, link to user's page -->

<div class="container">
    <div class="row justify-content-around">
        <div class="col-6">
            <p>Grove is a collaborative website, built by consumers, to share their experiences with commercial companies' sustainability practices.</p>
            <br>
            <p>Search for a company in the search bar above to view reviews from consumers and employees!</p>
            <a href="#">And spotlighting a random company</a>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-md-6">
                    <h2>Login</h2>
                    <form class="form login-form">
                        <div class="form-group">
                            <label for="loginName">username:</label>
                            <input class="form-input" type="text" id="loginName" />
                        </div>
                        <div class="form-group">
                            <label for="loginPassword">password:</label>
                            <input class="form-input" type="password" id="loginPassword" />
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary" id="loginBtn" type="submit">login</button>
                        </div>
                    </form>
                </div>
            </div>
            <a href="#">Click here to sign up!</a>
        </div>
    </div>
</div>

<script src="./js/login.js"></script>