<!-- The homepage will be a static page with a description of our site's purpose
- Mission Statement
- Encourage users to search for a company in the search bar
- Links to log-in and sign-up pages

- Within nav-bar, link to user's page --> 

<div class="container">
    <div class="row justify-content-around">
        <div class="col 5">
            <p>There will be content here describing out site's mission</p>
            <p>Encouraging users to search for a company in the search bar</p>
            <a href="#">And spotlighting a random company</a>
        </div>
        <div class="col 5">
            <p>Login will go here!</p>
            <a href="#">Link to encourage users to sign up if they don't have an account</a>
        </div>
    </div>
</div>
- Within nav-bar, link to user's page -->
