<!-- The homepage will be a static page with a description of our site's purpose
- Mission Statement
- Encourage users to search for a company in the search bar

- Within nav-bar, link to user's page -->
<div id="myModal" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="mySmallModalLabel">Error</h4>
                <button id="closeModal" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div id="modal-message" class="modal-body">
            </div>
        </div>
    </div>
</div>
<div id="mission-container" class="row-fluid d-flex flex-column flex-lg-row p-0">
    {{!-- MISSION IMAGE --}}
    <div id="mission-image" class="col-12 col-lg-6 vh-100 vw-100 p-0">
    </div>
    {{!-- MISSION CONTENT --}}
    <div class="col-12 col-lg-6 vh-100 p-0 d-flex justify-content-center">
        <div class="row-fluid w-100 d-flex flex-column justify-content-evenly align-items-center text-center"
            id="mission">
            <div id="mission-description-wrapper"
                class="row-fluid d-flex p-0 flex-column align-items-center justify-content-evenly">
                <p class="col-5 mission-description">Grove is a collaborative website, built by consumers, to
                    share
                    their experiences
                    with commercial
                    companies' sustainability practices.</p>
                <p class="col-5 mission-description">Search for a company in the search bar above to view
                    reviews
                    from consumers and
                    employees!</p>
            </div>
            <div id="featured-company" class="d-flex justify-self-start text-center">

                <h3 class="col-5">Featured Company</h3>

                <p id="random-company"></p>
            </div>
        </div>
    </div>
</div>
<div id="chart-container" class="row-fluid d-flex flex-column flex-lg-row p-0">
    <div id="chart-image" class="col-12 col-lg-6 order-1 order-lg-2 vh-100 vw-100 p-0">
    </div>
    <div class="col-12 col-lg-6 order-2 order-lg-1 vh-100 p-0 d-flex justify-content-center align-items-center">
        {{!-- CHART JS CHART --}}
        <div class="row-fluid w-75 d-flex flex-column justify-content-center">
            <canvas id="myChart" width="50" height="50"></canvas>
        </div>
    </div>
</div>
{{#if logged_in}}
{{else}}
<div id="login-container" class="row-fluid d-flex flex-column flex-lg-row p-0">
    {{!-- Large login image --}}
    <div id="login-image" class="col-12 col-lg-6 vh-100 vw-100 p-0">
    </div>
    <div class="col-12 col-lg-6 vh-100 p-0 d-flex justify-content-center">
        <div class="row-fluid w-75 d-flex flex-column justify-content-center">
            <h2>Login</h2>

            <form class="form login-form">
                <div class="form-group">
                    <label for="signupName">Username:</label>
                    <input class="form-input" type="text" id="loginName" />
                </div>
                <div class="form-group">
                    <label for="loginPassword">Password:</label>
                    <input class="form-input" type="password" id="loginPassword" />
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" id="loginBtn" type="submit">Login</button>
                </div>
            </form>
            {{#if logged_in}}
            {{else}}
            <a href="/signup">Click here to sign up!</a>
            {{/if}}
        </div>
    </div>
    {{/if}}


</div>

<script src="./js/login.js"></script>
<script src="./js/randomCompany.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js"></script>
<script src="./js/script.js"></script>