<!-- User will be prompted to enter their login credentials
- name
- password
- Link to signup page if user does not already have account -->

<div class="row">
  <div class="col-md-6">
    <h2>Login</h2>

    <form class="form login-form">
      <div class="form-group">
        <label for="user-login">username:</label>
        <input class="form-input" type="text" id="user-login" />
      </div>
      <div class="form-group">
        <label for="password-login">password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">login</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>