<!-- This page will allow users to input their information to sign up for an account
- Name
- Password
- Link to login page if user already has an account -->


<div id="myModal" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="mySmallModalLabel">Error</h4>
                <button id="closeModal" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div id="modal-message" class="modal-body">
            </div>
        </div>
    </div>
</div>

<div id="signup-container" class="container-fluid d-flex flex-row justify-content-between">
    <div class="row w-100">
        {{!-- Large signup image --}}
        <div id="signup-image" class="col-6 p-0">
            {{!-- <img src="/images/{{image.filename}}" alt="{{image.description}}"> --}}
        </div>

        <div class="col-6 p-0 d-flex justify-content-center">
            <div class="row w-75 d-flex flex-column justify-content-center">
                <h2>Signup</h2>

                <form class="form signup-form">
                    <div class="form-group">
                        <label for="signupName">Username:</label>
                        <input class="form-input" type="text" id="signupName" />
                    </div>
                    <div class="form-group">
                        <label for="signupPassword">Password:</label>
                        <input class="form-input" type="password" id="signupPassword" />
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" id="signupSubmit" type="submit">Signup</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="/js/signup.js"></script>