<!-- This is the page the user can navigate to too submit a review for a company
- Drop-down to choose company
- Space to input review title
- Space to select number of stars out of 5
- Space to write detailed review
- If the user is not logged in, this page will redirect to the login page -->

<div class="row mt-4">
    <div class="col-md-6">
        <h3>Write a New Review:</h3>

        <form class="form new-project-form">
            <div class="form-group">
                <label for="review-title">Title:</label>
                <input class="form-input" type="text" id="review-title" name="review-title" />
            </div>
            <!--Search bar to look for company, will need to add jQuery to auto-populate company names as user types-->
            <form class="d-flex">
                <label for="company-name">Company:</label>
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" id="company-name-search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <!--Give user options to rate company from 1 to 5-->
            <div class="form-group">
                <label for="review-content">Content:</label>
                <textarea class="form-input" id="review-content" name="review-content"></textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Write Review</button>
            </div>
        </form>
    </div>

    <script src="/js/writeReview.js"></script>
    <script src="/js/autocomplete.js"></script>