:root {
  --dark-green: #79B791;
  --light-green: #ABD1B5;
  --background: #EDF4ED;
  --light-brown: #51291E;
  --dark-brown: #301014;
  --heading-font: 'Slabo 27px', serif;
};

body {
  width: 100%;
}

/* HEADER STYLES */
header {
  background: var(--dark-green);
}

header nav {
  background: var(--dark-green);
  color: var(--background);
}

header button.btn {
  background: var(--light-green);
}

header a.nav-link {
  color: var(--background);
}

header a:hover {
  text-decoration: none;
}

header #site-title {
  color: var(--light-brown);
  font-size: 35px;
  font-family: var(--heading-font);
  font-weight: bold;
  letter-spacing: .1rem;
}

/* HOMEPAGE FEATURED COMPANY STYLES */
#featured-company p {
  font-size: 20px;
}
