$dark-green: #79B791;
$light-green: #ABD1B5;
$background: #EDF4ED;
$light-brown: #51291E;
$dark-brown: #301014;

header {
    background: $dark-green;
    nav {
        background: $dark-green;
        color: $background;
        button {
            background: $light-green !important;
        }
    }
    .navbar-brand {
        color: $light-brown !important;
        font-size: 30px;
    }
    a {
        color: $background !important;
    }
    a:hover {
        text-decoration: none;
    }
}
